.search_input,
.search_submit {
  height: 100%;
  border: 0;
  color: var(--theme-color);
  border-radius: 9px;
}

.search_input {
  background: var(--search-bg);
  width: 217px;
  padding-left: 9px;
}

.search_input::placeholder {
  color: var(--theme-color);
  text-transform: capitalize;
}

.search_submit {
  background: var(--primary-color);
  text-transform: uppercase;
  width: 68px;
  margin-left: 3px;
  text-align: center;
  cursor: pointer;
  padding: 0;
}