.copyrights_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.copyrights_content h5 {
  text-transform: capitalize;
}

.copyrights_content h5,
.copyrights_content h6 {
  color: var(--gray-text);
  font-size: 12px;
}