:root {
  --primary-color: #3bafbe;
  --orange-color: #ee802f;
  --theme-color: #fff;
  --social-bg-color: #1f1f1f;
  --dark-text: #4a4a4a;
  --gray-text: #999;
  --search-bg: #333;
  --border-color: #e2e2e2;
  --outline-color: #d8d8d8;
  --footer-bg: #252525;
  --bottom-footer-bg: #1a1a1a;
  --footer-input-bg: #2c2c2c;
}

:root[theme='dark'] {
  --theme-color: #1a1a1a;
  --dark-text: #fff;
  --search-bg: #ccc;
  --footer-input-bg: #d3d3d3;
}

html,
body {
  box-sizing: border-box;
  margin: 0;
  line-height: 1.618;
  background: var(--theme-color);
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  font-family: Georgia, Times, Times New Roman, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
}

p {
  color: var(--gray-text);
  font-size: 14px;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.transition_delay {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.hover-color:hover,
.hover-color:focus {
  background: var(--orange-color);
}

.btn {
  border: 0;
  color: var(--theme-color);
  border-radius: 9px;
  background: var(--primary-color);
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  font-size: 13px;
  padding: 10px;
}

.btn:hover,
.btn:focus {
  background: var(--orange-color);
}

.active a {
  color: var(--primary-color);
}

/***** Slider *****/
.slider_section {
  height: 500px;
  padding: 50px 20px;
  border-bottom: 1px solid var(--border-color);
}

/***** End Slider *****/

/***** Intro *****/
.intro_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 30px 20px;
  border-bottom: 1px solid var(--border-color);
}

.card {
  width: 300px;
  padding: 20px 0;
}

/***** End Intro *****/

/***** Shout *****/
.shout {
  padding: 50px 0;
}

.shout-text {
  font-size: 22px;
  font-style: italic;
  font-weight: 500;
  color: var(--dark-text);
  width: 80%;
  margin: auto;
}

/***** End Shout *****/

/***** Services *****/
.services_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 20px;
}

.services_card {
  width: 300px;
  margin-bottom: 40px;
}

/***** End Services *****/

/***** Footer *****/
.footer {
  background: var(--footer-bg);
  padding: 20px 0;
}

.footer .container {
  padding: 0 20px;
}

.copyrights {
  background: var(--bottom-footer-bg);
  padding: 23px 0;

}

.copyrights .container {
  padding: 0 20px;
}

/***** End Footer *****/

@media only screen and (max-width: 730px) {
  .slider_section {
    height: auto;
  }
}

@media only screen and (max-width: 640px) {

  .intro_section,
  .services_section {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .intro_section {
    text-align: center;
  }

}

@media only screen and (max-width: 339px) {

  .card,
  .services_card {
    width: 280px;
  }
}


/***** CSS styling for our switch *****/
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
}

.switch input {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  width: 0;
  height: 0;
}

.switcher {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.switcher:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 2px;
  background-color: var(--search-bg);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked+.switcher {
  background-color: var(--theme-color);
}

input:focus+.switcher {
  box-shadow: 0 0 1px var(--theme-color);
}

input:checked+.switcher:before {
  -webkit-transform: translateX(22px);
  transform: translateX(22px);
}

.switcher.round {
  border-radius: 25px;
}

.switcher.round:before {
  border-radius: 50%;
}


html.theme-transition,
html.theme-transition *,
html.theme-transition *:before,
html.theme-transition *:after {
  -webkit-transition: all 500ms !important;
  transition: all 500ms !important;
  -webkit-transition-delay: 0 !important;
  transition-delay: 0 !important;
}

.theme_color {
  background: var(--search-bg);
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  padding: 10px;
  border-radius: 9px;
  text-align: center;
}

.theme_color p {
  font-size: 10px;
  text-transform: capitalize;
  margin-bottom: 5px;
  color: var(--theme-color);
}