:root {
  --primary-color: #3bafbe;
  --orange-color: #ee802f;
  --theme-color: #fff;
  /* --dark-bg-color: #121212; */
  --social-bg-color: #1f1f1f;
  --dark-text: #4a4a4a;
  --gray-text: #999;
  --search-bg: #333;
  --border-color: #e2e2e2;
  --outline-color: #d8d8d8;
  --footer-bg: #252525;
  --bottom-footer-bg: #1a1a1a;
  --footer-input-bg: #2c2c2c;
}

html,
body {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  line-height: 1.618;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  margin: 0;
  font-family: Georgia, Times, Times New Roman, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
}

p {
  color: var(--gray-text);
  font-size: 14px;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.transition_delay {
  transition: all 0.3s ease;
}

.hover-color:hover,
.hover-color:focus {
  background: var(--orange-color);
}

.btn {
  border: 0;
  color: var(--theme-color);
  border-radius: 9px;
  background: var(--primary-color);
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  font-size: 13px;
  padding: 10px;
}

.btn:hover,
.btn:focus {
  background: var(--orange-color);
}

.active a {
  color: var(--primary-color);
}

/***** Slider *****/
.silder_section {
  height: 500px;
  padding: 50px 20px;
  border-bottom: 1px solid var(--border-color);
}

/***** End Slider *****/

/***** Intro *****/
.intro_section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 30px 20px;
  border-bottom: 1px solid var(--border-color);
}

.card {
  width: 300px;
  padding: 20px 0;
}

/***** End Intro *****/

/***** Shout *****/
.shout {
  padding: 50px 0;
}

.shout-text {
  font-size: 22px;
  font-style: italic;
  font-weight: 500;
  color: var(--dark-text);
  width: 80%;
  margin: auto;
}

/***** End Shout *****/

/***** Services *****/
.services_section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 20px;
}

.services_card {
  width: 300px;
  margin-bottom: 40px;
}

/***** End Services *****/

/***** Footer *****/
.footer {
  background: var(--footer-bg);
  padding: 20px 0;
}

.footer .container {
  padding: 0 20px;
}

.copyrights {
  background: var(--bottom-footer-bg);
  padding: 23px 0;

}

.copyrights .container {
  padding: 0 20px;
}

/***** End Footer *****/

@media only screen and (max-width: 730px) {
  .silder_section {
    height: auto;
  }
}

@media only screen and (max-width: 640px) {
  .intro_section {
    justify-content: center;
  }

  .services_card {
    width: 280px;
    margin-bottom: 40px;
  }
}